@font-face {
    font-family: 'Droid Serif';
    src: url('../fonts/Droid_Serif/DroidSerif.ttf');
}

@font-face {
    font-family: 'Droid Serif Italic';
    src: url('../fonts/Droid_Serif/DroidSerif-Italic.ttf');
}

body {
    width: 80%;
    height: 100%;
    text-align: center;
    margin: auto;
    font-family: 'Droid Serif', serif;
}

img {
    width: 100%;
}

.container {
    padding: 20px;
}

.cat-container {
    display: inline-block;
    width: 40%;
    margin: 20px;
    vertical-align: middle;
}

.cat-img {
    position: relative;
    cursor: pointer;
}

.cat-up {
    -moz-box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 4px 5px 4px rgba(0, 0, 0, .5);
    box-shadow: 4px 5px 4px rgba(0, 0, 0, .5);
}

.click-num {
    background-color: #e0ac55;
    padding: 10px 20px;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}
